body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative; /* Notwendig für das ::before-Pseudo-Element */
    overflow: hidden; /* Verhindert Scrollen */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("IMG_0012.JPG");
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Anwenden des Filters nur auf das Pseudo-Element */
    z-index: -1; /* Stellt sicher, dass das Bild hinter dem Inhalt liegt */
}

.container {
    text-align: center;
    background-color: rgba(46, 46, 46, 0.74); /* Weiße, leicht durchsichtige Hintergrundfarbe */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px; /* Abstand vom oberen Rand */
    z-index: 1; /* Stellt sicher, dass der Container über dem Hintergrundbild liegt */
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input,
select {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Randstil */
    border-radius: 5px; /* Abgerundete Ecken */
    background-color: white; /* Hintergrundfarbe */
    font-size: 16px; /* Schriftgröße */
}

select {
    appearance: none; /* Verhindert Standard-Dropdown-Styling */
    height: 40px; /* Erhöht die Höhe des Dropdown-Menüs */
}

/* Stil für Hover- und Fokuszustand */
input:hover,
input:focus,
select:hover,
select:focus {
    border-color: #555; /* Farbänderung beim Hovern oder Fokussieren */
}
