body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("IMG_0012.JPG");
    background-size: cover;
    background-position: center;
    background-filter: blur(4px);
    color: white;
}

.container {
    text-align: center;
    background-color: rgb(46 46 46 / 74%); /* Weiße, leicht durchsichtige Hintergrundfarbe */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px; /* Abstand vom oberen Rand */
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
}
select {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
    appearance: none; /* Verhindert Standard-Dropdown-Styling */
    border: 1px solid #ccc; /* Randstil */
    border-radius: 5px; /* Abgerundete Ecken */
    background-color: white; /* Hintergrundfarbe */
    font-size: 16px; /* Schriftgröße */
    height: 40px; /* Erhöht die Höhe des Dropdown-Menüs */
}

/* Stil für Hover- und Fokuszustand */
select:hover,
select:focus {
    border-color: #555; /* Farbänderung beim Hovern oder Fokussieren */
}


/* Stil für Hover- und Fokuszustand */
select:hover,
select:focus {
    border-color: #555; /* Farbänderung beim Hovern oder Fokussieren */
}
